@{
    ViewBag.Title = "O mnie!";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-6">
        <p>
            Pracując przy domu z rodzicami zawsze pierwszy wyrywałem się do działania chcąc jak najszybciej sfinalizować sprawę, co często doprowadzało do sprzeczek z moim lubiącym wszystko dokładnie zaplanować i omówić tatą. Na zajęciach sportowych trudno było mi pohamować energię napływającą do mojego ciała jeszcze przed rozgrzewką. Nawet w szkole lub na uniwersytecie pewny siebie lubiłem jako pierwszy zgłosić się do wyznaczonego zadania, wejść do sali na osobiste zaliczenie lub znajdować się w pierwszej grupie piszącej dany test lub egzamin.
            <br />
            <br />
            Nie zawsze byłem najlepszy i niepokonany ale nigdy nie bałem się o to walczyć. Każdy wie jacy są ludzie, jak lubią dokuczać innym widząc że ktoś się wyróżnia. Czując się bezpiecznie mając dookoła siebie mnóstwo podobnych sobie próbują pokazać że ktoś na pozór inny jest gorszy. To potrafi ukształtować.
            <br />
            <br />
            Teraz brnąc przez życie pewny siebie prę i pokonuje przeciwności losu i różne narzucone przez kogoś lub przez samego siebie nawet nieoczekiwane obowiązki pokazując że jestem wstanie im sprostać bo URODZIŁEM SIĘ GOTOWY.
        </p>

       
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-3">
        <img src="~/images/o_mnie.jpg" alt="Sample Photo" width="300" height="300"/>
    </div>

</div>


