
@{
    ViewBag.Title = "Cennik";
}

<h2>Cennik</h2>

<div class="row">
    <div class="col-md-6">
        <h2>KARNET CAŁODOBOWY</h2>
        <p>
           Nieograniczone wejścia do wszystkich naszych klubów!<br />
           Kluby otwarte 24/7!<br />
           Promocyjna cena 99 PLN/miesięcznie!<br />
           W ostatni weekend miesiąca darmowe konsultacje z trenerem!<br />
           Darmowe wejścia na wszystko zajęcia!
        </p>
        <p><a class="btn btn-default" href="http://localhost:57538/Account/Register">Kup teraz</a></p>
    </div>
    <div class="col-md-6">
        <h2>KARNET PORANNY</h2>
        <p>
            Nieograniczone wejścia do wszystkich naszych klubów w godzinach 6-16!<br />
            Niższa cena 69 PLN/miesięcznie!<br />
            W ostatni weekend miesiąca darmowe konsultacje z trenerem!<br />
            Darmowe wejścia na wszystko zajęcia do godziny 16!
        </p>
        <p><a class="btn btn-default" href="http://localhost:57538/Account/Register">Kup teraz</a></p></div>
   
</div>