@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>


<address>
    os. Kamionki 50<br />
    32-566 Alwernia<br />
    <abbr title="Phone">Telefon:</abbr>
    692-581-040
</address>

<address>
    <strong>Kontakt mailowy:</strong>   <a href="mailto:vivendi9r@gmail.com">vivendi9r@gmail.com</a><br />
</address>