
@{
    ViewBag.Title = "Edukacja";
}

<h2>Edukacja</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Redukcja w pigułce!</h2>
        <p>
            Oblicz swoje zapotrzebowanie kaloryczne w zakładce kalkulatory<br />
            Dostosuj swój codzienny jadłospis do wyliczonej podaży kcal<br />
            Komponuj ciekawe posiłki i wliczaj do bilansu małe przyjemności<br />
            Zadbaj o spontaniczną aktywność (NEAT)<br />
            Większa podaż białka zapewno Ci większą sytość<br />
            Trenuj ciężko aby zachować mase mięsniową (wysoka intensywność)           
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=cSM6fN7NNHM&t=445s">Przejdz do filmu</a></p>
    </div>

    <div class="col-md-4">
        <h2>Budowanie masy mięsniowej!</h2>
        <p>
            Oblicz swoje zapotrzebowanie kaloryczne w zakładce kalkulatory<br />
            Dostosuj swój codzienny jadłospis do wyliczonej podaży kcal<br />
            Pamiętaj o odpowiedniej podaży białka<br />
            Trenuj ciężko, ale nie do upadku mięśniowego<br />
            Zachowaj progresje!
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=qpm-ErTYyrM&t=2093s">Przejdz do filmu</a></p>
    </div>

    <div class="col-md-4">
        <h2>Rekompozycja!</h2>
        <p>
            Oblicz swoje zapotrzebowanie kaloryczne w zakładce kalkulatory<br />
            Dostosuj swój codzienny jadłospis do wyliczonej podaży kcal<br />
            Pamiętaj o wysokiej podaży białka<br />
            Nie bój się wolnych ciężarów<br />
            Zachowaj stałą progresje<br />
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=BWSEAVxdopU">Przejdz do filmu</a></p>
    </div>

</div>