
@{
    ViewBag.Title = "Kalkulatory";
}

<h2>Kalkulatory</h2>

<p><a class="btn btn-default" href="http://localhost:57538/Home/BMR">BMR</a></p>
<p><a class="btn btn-default" href="http://localhost:57538/Home/BMI">BMI</a></p>
<p><a class="btn btn-default" href="http://localhost:57538/Home/ONERM">1RM</a></p>