
@{
    ViewBag.Title = "News";
}

<h2>Aktualności</h2>
<br />
<p>Zobacz co u nas słychać i zapoznaj się z ofertą klubu!</p>
<p><a class="btn btn-default" href="http://localhost:57538/Home/Cennik">Cennik</a></p>
<br />
<p>Zbieraj punkty i wymieniaj na ciekawe nagrody! Udaj się do recepcji lub skontaktuj się z nami poniżej!</p>
<p><a class="btn btn-default" href="http://localhost:57538/Home/Contact">Kontakt</a></p>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <h2>Czas start</h2>
        <p>
            Masz już dość nadmiernych kilogramów i braku kondycji? Zarejestruj się i zapisz na zajęcia i zmieńmy to razem!
        </p>
        <p><a class="btn btn-default" href="http://localhost:57538/Account/Register">Rejestracja</a></p>
    </div>
    <div class="col-md-4">
        <h2>Brak wiedzy?</h2>
        <p>Chcesz ruszyć z miejsca ale nie wiesz w jaki sposób? Zajrzyj do działu Edukacja i dowiedz się jak łatwo pozbyć się tkanki tłuszczowej lub zbudować mięśnie.</p>
        <p><a class="btn btn-default" href="http://localhost:57538/Home/Edukacja">Edukacja</a></p>
    </div>
    <div class="col-md-4">
        <h2>Jak to wszystko obliczyc?</h2>
        <p>Chcesz zacząć liczyć kalorie ale niewiesz jak obliczyć swoje zapotrzebowanie kaloryczne? Chcesz obliczyc swoje BMI? A moze chcesz wiedziec jakie jest Twoje jedno maksymalne powtorzenie? Zaprszamy do działu kalkulatorów.</p>
        <p><a class="btn btn-default" href="http://localhost:57538/Home/Kalkulatory">Kalkulatory</a></p>
    </div>
</div>
