
@{
    ViewBag.Title = "YourBMR";
}


<h2>Twoje zapotrzebowanie kaloryczne wynosi: @ViewBag.Message</h2>

<h3>W celu redukcji tkanki tłuszczowej spożywaj około 90% swojego zapotrzebowania</h3>
<h3>W celu budowania masy spożywaj około 110% swojego zapotrzebowania</h3>
<h3>W celu rekompozycji spożywaj mniejwiecej wartość swojego zapotrzebowania</h3>

