@{
    ViewBag.Title = "YourBMI";

}

<p>Wskaźnik BMI jest używany do oceny wagi prawidłowej, ryzyka zagrożenia otyłością i chorobami związanymi z nadmiarem tkanki tłuszczowej w organizmie. BMI może znajdować się w jednym z kilku wyszczególnionych przedziałów opisujących masę ciała:</p>


<h2>Twoje BMI to @ViewBag.Message</h2>
<br />
 <p> mniej niż 16 - wygłodzenie</p>  
 <p>16 - 16.99 - wychudzenie</p>  
<p>
    17 - 18.49 - niedowaga
</p>  
<p>
    18.5 - 24.99 - wartość prawidłowa
</p>  
<p>
    25 - 29.99 - nadwaga
</p>  
<p>
    30 - 34.99 - I stopień otyłości
</p>  
<p>
    35 - 39.99 - II stopień otyłości
</p>  
<p>   powyżej 40 - otyłość skrajna</p>

